@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
    transition: all 600ms;
}

body {
    margin: 0;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

body,
#Intro {
    background-color: #8c8897;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

#Logo {
    padding-left: 8px;
    height: 50px;
    width: 205px;
}

#Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: #cfcfdd;
    border-radius: 0px 0px 15px 15px;
}

#NavInfo {
    padding: 18px;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

@media(max-width:1024px) {
    #NavInfo {
        display: none;
    }
}

#NavInfo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 1000;
}

#Intro {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    margin-top: 30px;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

#Nome {
    font-weight: 800;
    font-size: 54px;
    font-weight: bold;
}


#Cargos {
    margin-top: -35px;
    font-size: 19.8px;
    font-weight: bold;
    color: white;
}

#Linguagens {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -2px;
}

#Foto {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

#Foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#Page {
    background-color: rgba(214, 214, 228, 0.932);
    padding: 12px;
    margin-top: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: auto;
}

#SobreMim {
    font-size: 16px;
    text-align: center;
}

.Laranja {
    color: rgb(255, 115, 0);
}

#TProjeto {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

.card {
    width: 245px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card h3 {
    margin: 10px;
    font-size: 13px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.384);
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 25px;
    width: 100%;
}

.imagem-galeria {
    width: 200px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagem-galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.384);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1010;
}

.modal-img-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-conteudo {
    display: block;
    max-width: 90vw;
    max-height: 85vh;
    width: auto;
    height: auto;
    cursor: grab;
    user-select: none;
    transform: none;
}

#Footer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    text-align: center;
}

#svgs {
    padding: 18px;
    margin-left: 7%;
}

#contatos {
    display: inline;
}


/* Tablets (até 1024px) */
@media (max-width: 900px) {
    #Nome {
        text-align: center;
        font-size: 37px;
        font-weight: 800;
        font-weight: bold;
        margin-bottom: 45px;
    }

    #Cargos {
        font-size: 13.5px;
        text-align: center;
    }

    #Linguagens {
        margin-top: -5px;
        font-size: 19px;
        text-align: center;
    }

    #SobreMim {
        font-size: 14px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 50px;
    }

    #TProjeto {
        font-size: 20px;
        font-weight: 1000px;
    }

    #Intro {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #Foto {
        width: 240px;
        height: 240px;
    }

    #Page {
        padding: 20px;
        height: auto;
    }

    .card {
        width: 175px;
        height: 135px;
        margin: -7px;
    }

    .cards-container {
        gap: 30px;
        margin-bottom: 50px;
    }

    .cards-container h3 {
        font-size: 13px;
        text-align: center;
    }

    .card img {
        width: 102%;
        height: 69%;
        object-fit: cover;
    }


    .imagem-galeria {
        width: 165px;
        height: 100px;
    }


    #svgs {
        padding: 9px;
    }

    .divfooter {
        width: 35%;
        font-size: 8px;
    }

    #Linkedin--Streamline-Unicons {
        height: 15px;
        width: 15px;
    }

    #Instagram-Alt--Streamline-Unicons {
        height: 15px;
        width: 15px;
    }

    #Envelope-Alt--Streamline-Unicons {
        height: 15px;
        width: 15px;
    }


    #Footer {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.192);
        text-align: center;
        margin: auto;
    }

    #svgs {
        padding-top: 8px;
        margin-left: -28px;
    }


}
